.ruslan-display-regular {
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Ruslan Display", sans-serif;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --accent-color: #34495e;
  --bg-color: #ecf0f1;
  --main-font: "Ruslan Display", sans-serif;
  --sub-font: "arial", sans-serif;
  --g-ratio: 1.618;
}
body{
  font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size: 1.2em;
}
hr {
  margin-top: 0.5rem;
  width: 70px;
  height: 5px;
  background-color:#34495e;
  border: none;
}
h1, h2, h3, .title{
  font-family: var(--main-font);
  font-weight: 900;
}
.title{
  color: var(--accent-color);
}
.wrapper {
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: calc(100vw / var(--g-ratio));
  height: 100vh;
  min-width: 800px;
  margin: 0 auto;
  background-color: inherit;
}
/* Main Content
================*/


.top-container {
	display: flex;
	width: 100%;
}

.lab-info {
	width: 50%;
}

.content {
	margin-top: 2rem;
	width: 100%;
	min-height: 500px;
	position: relative;
	border: 2px solid #ccc;
}

.btns-container {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
}

button {
	background-color: transparent;
	border: 2px solid var(--accent-color);
	color: var(--accent-color);
	font-size: 2rem;
	padding: 0.25em 1em;
}

#btnCoin,
#btnPipe,
#btnPowerUp {
	transition: all ease 100ms;
	outline: none !important;
}

img {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.floor {
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: 0;
	background-color: #bbb;
	z-index: 10;
	font-family: 'Press Start 2P', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
}

#coin-img {
	position: absolute;
	left: 50%;
	top: 70%;
	height: 60px;
}






/* Loader
====================*/

.loader {
	position: fixed;
	z-index: 999999999999;
	background-color: var(--bg-color);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity ease 500ms;
}

.loader-container {
	padding: 10px;
	position: relative;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
}

.animate {
	fill: transparent;
	stroke-dasharray: 150;
	stroke-dashoffset: 600;
	stroke-width: 3px;
	stroke: var(--accent-color);
	animation: animate 1s linear infinite;
}

.box {
	width: 200px;
	height: 200px;
	position: relative;
}

.box__1,
.box__2 {
	position: absolute;
	background-color: var(--accent-color);
	width: 50%;
	height: 50%;
}

.box__1 {
	animation: box1 1.5s infinite ease;
}

.box__2 {
	animation: box2 1.5s infinite ease;
}

@keyframes box1 {
	0% {
		top: 0;
		left: 0;
		width: 50%;
		height: 50%;
	}
	12.5% {
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
	}
	25% {
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
	}
	37.5% {
		top: 0;
		left: 50%;
		width: 50%;
		height: 50%;
	}
	50% {
		top: 0;
		left: 50%;
		width: 50%;
		height: 50%;
	}
	62.5% {
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
	}
	75% {
		top: 0%;
		left: 50%;
		width: 50%;
		height: 100%;
	}
	87.5% {
		top: 50%;
		left: 50%;
		width: 50%;
		height: 50%;
	}
	100% {
		top: 50%;
		left: 50%;
		width: 50%;
		height: 50%;
	}
}

@keyframes box2 {
	0% {
		right: 0;
		bottom: 0;
		width: 50%;
		height: 50%;
	}
	12.5% {
		right: 0;
		bottom: 0;
		width: 50%;
		height: 50%;
	}
	25% {
		right: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
	}
	37.5% {
		right: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
	}
	50% {
		right: 50%;
		bottom: 0;
		width: 50%;
		height: 50%;
	}
	62.5% {
		right: 50%;
		bottom: 0;
		width: 50%;
		height: 50%;
	}
	75% {
		right: 50%;
		bottom: 0;
		width: 50%;
		height: 100%;
	}
	87.5% {
		right: 50%;
		bottom: 0;
		width: 50%;
		height: 100%;
	}
	100% {
		right: 50%;
		bottom: 50%;
		width: 50%;
		height: 50%;
	}
}

@keyframes animate {
	from {
		stroke-dashoffset: 600;
	}
	to {
		stroke-dashoffset: 0;
	}
}


















